*.asv
*.aux
*.log
*.gz
~$*
\~\$*
*.out
*.snm
*.toc
*.m~
*.orig
*.lof
*.blg
*.bbl
*/.directory
pythontex-master/
*.bcf
*.pytxcode
*.run.xml
*pythontex-files*
.idea/
python/__pycache__/
Pygments-2.0.2/
*nick_"
imgs/nick/
resume_de.pdf
resume_en.pdf
cv_de.pdf
cv_en.pdf
letter.pdf
python/nick_cv.py