*.asv
*.aux
*.log
*.gz
~$*
\~\$*
*.out
*.snm
*.toc
*.m~
*.orig
*.lof
*.blg
*.bbl
*.pyc
*/.directory
pythontex-master/
*.bcf
*.pytxcode
*.run.xml
*pythontex-files*
.idea/
python/__pycache__/
Pygments-2.0.2/
*.tex
*.pdf
cv_publish/
!sample_cv.pdf
Fonts/*
!Fonts/IBMPlexSans/